.main-header-style{
    font-family: 'Nunito';
    text-transform: uppercase;
}

.text-align-right{
    float: right;
}

.svg-logout-style{
    color:red;
    cursor: pointer;
    float: right;
}

.role-style{
    margin-right: 5px;
}

.card-text-style{
    font-size: 16px;
    padding: 2px 3px;
    background-color: #f8fafc;
    border-radius: 100%;
    border: 1px solid #ced4da!important;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
    line-height: 30px;
}

.card-icon-style{
    font-size: 35px!important;
}

.action-icon-style{
    font-size: 20px!important;
    cursor: pointer;
}

.pagination{
    padding: 0px!important;
    float: right!important;
}

.pagination:hover{
    cursor: pointer!important;
}

.custom-select-sm{
    margin-left: 0px!important;
    margin-bottom: 20px!important;
}

.custom-select-sm:hover{
    cursor: pointer!important;
}

.custom-actions{
    background-color: #f8fafc!important;
    padding: 2px 5px!important;
    border: 1px solid #ced4da!important;
    font-size: small;
    text-align: center;
}

.custom-auths{
    background-color: #f8fafc!important;
    padding: 2px 5px!important;
    border: 1px solid #ced4da!important;
    float: right!important;
    cursor: pointer!important;
}

.add-icon-style{
    color:rgb(0, 170, 0);
    cursor: pointer;
}

tbody + thead{
    display: none!important;
}

td:last-child {
    width: 1px!important;
    white-space: nowrap!important;
}

.empTable td:nth-last-child(2){
    width: 1px!important;
    white-space: nowrap!important;
}
